.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: var(--navbar-color);
}

.navbar li {
    float: left;
}

.navbar li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    color: #000;

}

.navbar .floatRight{
    float: right;
}

.navbar li p:hover {
    cursor: pointer;
    background-color: var(--navbar-color-hover);
}